.city {
  padding: 17px 33px 32px;
  border: 1px solid $black;
  border-radius: 20px;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 40px;

  table {
    border-collapse: separate;
  }

  td {
    outline: 1px solid red;
  }

  td:nth-child(1) {
    margin-right: 5px;
  }

  td:nth-child(2) {
    color: $grey-1;
  }
}
