// Colors
$bg-color: #edf2ec;
$red: #ff0000;
$black: #000000;
$white: #ffffff;
$black-links-nav: #010201;
$green: #499a18;
$orange: #e06733;
$grey-1: #717171;
$grey-2: #636060;
$light-grey: #e3e1d5;

// Screen widths
$desktop-width: 1440px;
$desktop-padding: 110px;
