.about__wrapper {
  margin: 0 auto;
  max-width: $desktop-width;
  padding: 161px $desktop-padding 133px;
  box-sizing: border-box;

  background-image: url("../images/houseplant-1.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 109px) 93px;

  @media (max-width: $tablet-width-max) {
    padding: 40px $tablet-padding 401px;
    background-size: 250px 258px;
    background-position: center calc(100% - 95px);
  }

  @media (max-width: $mobile-width-max) {
    padding: 30px $mobile-padding 167px;
    background-size: 150px auto;
    background-position: center calc(100% - 27px);
  }
}

.about__inner {
  transform: translateX(-1px); // Pixel Perfect
  max-width: 605px;

  @media (max-width: $tablet-width-max) {
    max-width: 100%;
  }
}

.about__title {
  max-width: 463px;
  margin-top: 0;
  margin-bottom: 38px;

  font-family: 'Inika', serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: $green;

  .about__title-orange {
    color: $orange;
  }

  @media (max-width: $tablet-width-max) {
    margin: 0 auto 50px;
    max-width: 423px;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 13px;
    font-size: 25px;
    line-height: 33px;
  }
}

.about__text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: $grey-2;

  @media (max-width: $tablet-width-max) {
    transform: translateX(1px);
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 0;
    font-size: 15px;
    line-height: 25px;
  }
}
