.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 39px $desktop-padding;
  margin: 0 auto;
  max-width: $desktop-width;
  box-sizing: border-box;
}

.footer__copyright,
.footer__social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social .footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link:hover .footer__social-link-svg,
.footer__link:focus .footer__social-link-svg {
  color: $orange;
  transition: color 0.3s;
}

.footer__link,
.footer__copyright {
  font-size: 20px;
  line-height: 50px;
  color: $black;
  transition: color 0.3s;
}

.footer__link {
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    color: $orange;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__link-to-course {
  padding-left: 20px;
  margin: 0 20px;
}
