.price {
  min-width: 250px;
  border-radius: 20px;
  padding: 15px 40px;
  box-sizing: border-box;
  background-color: $bg-color;
  background-color: $dark-bg-color;
  outline: none;

  &--closed {
    background-color: $bg-color;
    transition: background-color 0.5s;

    .price__text,
    .price__cost-hour,
    .price__btn-order {
      display: none;
    }

    .price__title::after {
      background-color: $light-grey-3;
      background-image: url("../images/arrow-down.svg");
      margin-right: 10px;
      transform: translate(1px);
    }

    &:hover,
    &:focus {
      background-color: $dark-bg-color;
      transition: background-color 0.3s;
    }

    &:active {
      opacity: 0.5;
    }
  }

  @media (max-width: $tablet-width-max) {
    .price__title::after {
      margin-right: 0;
    }
  }

  @media (max-width: $mobile-width-max) {
    min-width: auto;
    width: 180px;
    padding: 15px 30px;

    .price__title::after {
      margin-top: 2px;
      margin-right: 10px;
    }
  }
}

.price__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  cursor: pointer;

  &::after {
    display: inline-flex;
    width: 16px;
    height: 16px;
    background-color: $light-grey-2;
    border-radius: 50%;
    content: "";

    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 15px;
  }
}

.price__text {
  padding-top: 6px;
  margin-top: 12px;
  margin-bottom: 6px;

  font-weight: 300;
  border-top: 1px solid $light-grey-2;
  color: $grey-1;
}

.price__cost-hour {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: $black;

  .price__cost-hour-orange {
    font-size: 16px;
    line-height: 20px;
    color: $orange;
  }
}

.price__btn-order {
  border: none;
  padding: 3px 20px;

  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $grey-1;
  background-color: $white;
  border-radius: 10px;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 1px solid $orange;
    color: $orange;
    transition: color 0.3s;
  }

  &:active {
    opacity: 0.5;
  }
}
