.service {
  background: $bg-color;
}

.service__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
  max-width: calc($desktop-width + 2px);
  padding: 40px $desktop-padding 120px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding: 60px $tablet-padding 70px;
  }
}

.service__title {
  max-width: 306px;
  margin-top: 0;
  margin-right: 142px;
  // margin-bottom: 20px;

  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: $green;

  @media (max-width: $tablet-width) {
    font-size: 35px;
    line-height: 46px;
    margin-bottom: 13px;
  }
}

.service__list-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  margin: 29px 0 0;
  padding: 0;
  list-style: none;
}

.service__list-buttons-item {
  min-width: 161px;
  padding: 11px 41px 11px 39px; // Pixel Perfect
  box-sizing: border-box;
  border: 1px solid $orange;
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $orange;
  background-color: transparent;
  outline: none;

  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;
    background-color: $orange;
    transition: color 0.3s;
  }

  &:active {
    opacity: 0.5;
  }
}

.service__list-services {
  // max-width: 1222px;
  width: 100%;
  margin: 46px 0px 0;
  display: grid;
  gap: 54px;
  grid-template-columns: repeat(auto-fit, 330px);
  // justify-content: center;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  box-sizing: border-box;

  li {
    justify-self: center;
  }

  // Моя вольность, но нужная эстетичная перестройка сетки
  @media (max-width: calc($desktop-width - 1px)) and (min-width: $tablet-width) {
    justify-content: center;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(auto-fit, 281px);
    justify-content: space-between;
    gap: 38px;
    margin-top: 39px;
  }
}

.contacts__cities {
  margin: 0;
  padding: 0;
  list-style: none;
}
