// Colors
$bg-color: #edf2ec;
$dark-bg-color: #d6e7d2;
$bg-selector-green: #dce9d9;
$red: #ff0000;
$black: #000000;
$white: #ffffff;
$black-links-nav: #010201;
$green: #499a18;
$green-2:#c1e698;
$orange: #e06733;
$grey-1: #717171;
$grey-2: #636060;
$light-grey: #e3e1d5;
$light-grey-2: #aea1a1;
$light-grey-3: #d9d9d9;

// Screen widths
$desktop-width: 1440px;
$desktop-padding: 110px;
