.welcome {
  background-color: $bg-color;
}

.welcome__wrapper {
  margin: 0 auto;
  max-width: $desktop-width;
  padding: 96px $desktop-padding 93.5px;
  box-sizing: border-box;

  background-image: url("../images/leafs.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 390px) 51px;

  @media (max-width: $tablet-width-max) {
    // padding: 40px $tablet-padding 70px; // Perfect
    padding: 38px calc($tablet-padding - 1px) 70px; // Perfect Pixel
    background-size: 289px auto;
    background-position: calc(100% - $tablet-padding + 3px) 31.5px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 28px $mobile-padding 24px;
    background-image: none;
  }
}

.welcome__inner {
  max-width: 549px;
  margin-left: auto;

  @media (max-width: $tablet-width-max) {
    max-width: 346px;
    margin-left: 0;
    margin-right: auto;
  }
}

.welcome__title {
  margin-top: 0;
  margin-bottom: 43.5px;
  transform: translateX(1px); // Pixel Perfect
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  color: $grey-1;

  .welcome__title-green {
    color: $green;
  }

  @media (max-width: $tablet-width-max) {
    margin-bottom: 30px;
    font-size: 35px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 35px;
    transform: translate(0);
  }
}

.welcome__text {
  padding: 0 1px;
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  color: $grey-2;

  @media (max-width: $tablet-width-max) {
    padding: 0 6px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 25px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 0;
    margin-bottom: 26px;
  }
}

.welcome__link-btn {
  display: inline-flex;
  margin-left: 1px;
  padding: 10px 24px;
  border: 2px solid $orange;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 10px;
  color: $black;
  box-sizing: border-box;
  outline: none;

  &:hover,
  &:focus {
    color: $white;
    background-color: $orange;
    transition: color 0.3s;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 10px;
    line-height: 20px;
    padding: 5px 15px;
    margin-left: 0; // PP
  }
}
