.welcome {
  background-color: $bg-color;
}

.welcome__wrapper {
  margin: 0 auto;
  max-width: $desktop-width;
  padding: 96px $desktop-padding 93.5px;
  box-sizing: border-box;

  background-image: url("../images/leafs.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 390px) 51px;
}

.welcome__inner {
  max-width: 549px;
  margin-left: auto;
}

.welcome__title {
  margin-top: 0;
  margin-bottom: 43.5px;
  transform: translateX(1px); // Pixel Perfect
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  color: $grey-1;

  .welcome__title-green {
    color: $green;
  }
}

.welcome__text {
  padding: 0 1px;
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  color: $grey-2;
}

.welcome__link-btn {
  display: inline-flex;
  margin-left: 1px;
  padding: 10px 24px;
  border: 2px solid $orange;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 10px;
  color: $black;
  box-sizing: border-box;
  outline: none;

  &:hover,
  &:focus {
    color: $white;
    background-color: $orange;
    transition: color 0.3s;
  }

  &:active {
    opacity: 0.5;
  }
}
